
.main-newsContainer{
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.main-newsContainer {
    position: relative;
    z-index: 1;
}
.new-image {
    opacity: 1;
    position: relative; /* ensures it's above the ::before overlay */
    z-index: 1;
}